{#
  | Variable          | Type   | Description                                                      |
  |-------------------|--------|------------------------------------------------------------------|
  | title             | string | Section title                                                    |
  | items[]           | array  | List of images                                                   |
  | items[].url       | string | URL of the item                                                  |
  | items[].link_type | string | category, product, offers, page, external_link, brand            |
  | items[].image.url | string | Image URL                                                        |
  | items[].image.alt | string | Image alt text                                                   |
  | items[].text      | string | Visible title for the photo                                      |
  | position          | int    | Sorting number starting from zero                                |
#}
<section class="s-block s-block--banners container">
    {% if title %}
        <div class="s-block__title">
            <div class="right-side">
                <h2>{{ title }}</h2>
            </div>
        </div>
    {% endif %}

    <div class="grid">
        {% for item in items %}
            <a class="banner-entry" href="{{ item.url }}" {% if item.link_type == 'external_link' %}target="_blank"{% endif %}>
                <img class="shine-img" src="{{ item.image.url }}" alt="{{ item.image.alt }}">
                {% if item.text %}
                    <h3>{{ item.text }}</h3>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</section>

<style>
.shine-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: .5s;
  cursor: pointer;
  -webkit-mask: 
    linear-gradient(135deg,#000c 40%,#000,#000c 60%)
    100% 100%/250% 250%;
}
.shine-img:hover {
  -webkit-mask-position: 0 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #000;
}
</style>


