{#
  | Variable          | Type   | Description                                                      |
  |-------------------|--------|------------------------------------------------------------------|
  | title             | string | Section title                                                    |
  | items[]           | array  | List of images                                                   |
  | items[].url       | string | URL of the item                                                  |
  | items[].link_type | string | category, product, offers, page, external_link, brand            |
  | items[].image.url | string | Image URL                                                        |
  | items[].image.alt | string | Image alt text                                                   |
  | items[].text      | string | Visible title for the photo                                      |
  | position          | int    | Sorting number starting from zero                                |
#}
<section class="s-block s-block--banners container">
    {% if title %}
        <div class="s-block__title">
            <div class="right-side">
                <h2>{{ title }}</h2>
                
                <!-- إضافة زر Toggle Theme هنا -->
                <ul class="theme-mode-toggle">
                    <li class="theme-mode-item">
                        <button title="Toggle Theme" class="theme-mode-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path pathLength="1" class="moon-icon" d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                <circle pathLength="1" class="sun-icon" cx="12" cy="12" r="5"></circle>
                                <line pathLength="1" class="sun-rays-icon" x1="12" y1="1" x2="12" y2="3"></line>
                                <line pathLength="1" class="sun-rays-icon bottom" x1="12" y1="21" x2="12" y2="23"></line>
                                <line pathLength="1" class="sun-rays-icon" x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                <line pathLength="1" class="sun-rays-icon bottom" x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                <line pathLength="1" class="sun-rays-icon" x1="1" y1="12" x2="3" y2="12"></line>
                                <line pathLength="1" class="sun-rays-icon bottom" x1="21" y1="12" x2="23" y2="12"></line>
                                <line pathLength="1" class="sun-rays-icon" x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                <line pathLength="1" class="sun-rays-icon" x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                            </svg>
                        </button>
                    </li>
                </ul>
                <!-- نهاية الزر -->
            </div>
        </div>
    {% endif %}

    <div class="grid">
        {% for item in items %}
            <a class="banner-entry" href="{{ item.url }}" {% if item.link_type == 'external_link' %}target="_blank"{% endif %}>
                <img src="{{ item.image.url }}" alt="{{ item.image.alt }}">
                {% if item.text %}
                    <h3>{{ item.text }}</h3>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</section>
